h1 {
    text-align: center;
    color: #2c3e50;
    margin-top: 20px;
    font-size: 2.5rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Subtle text shadow for depth */
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    router-outlet {
        padding: 10px;
        margin: 10px;
    }
}